%section#education.education>
  .content-wrap
    %h2 Utbildning
    / School 1 details: copy this whole block to add more schools.
    %h3 Högskolan i Borås, 2000-2003
    %p Ekonomie Kandidatexamen, med huvudämne Företagsekonomi
    / Add as many paragraphs as you need.
    %p Summary.
    / End of school 1 details.
    / School 2 details: copy this whole block to add more schools.
    %h3 Högskolan i Borås, 1997-2002
    %p Teknologie Magisterexamen, med huvudämne Maskinteknik, inriktning Logistik
    / Add as many paragraphs as you need.
    / End of school 2 details.
    / School 3 details: copy this whole block to add more schools.
    %h3 Utlandspraktik, Våren 2000
    %p En termins arbete på Brand Management avdelningen, Atlas Copco Electric Tools, Stuttgart, Tyskland.
    / Add as many paragraphs as you need.
    / End of school 3 details.
    / School 4 details: copy this whole block to add more schools.
    %h3 Ållebergsgymnasiet Falköping, 1995-1996
    %p Gymnasieingenjör, Företagsanpassad Teknikerutbildning
    / Add as many paragraphs as you need.
    / End of school 4 details.
