%body
  %header#about
    %a.btn.download{:download => "", :href => "resume.pdf"} Download PDF
    %nav.display
      %a{:href => "#about"} About
      %a{:href => "#portfolio"} Web Dev Portfolio
      %a{:href => "#work"} Work Experience
      %a{:href => "#education"} Education
      %a{:href => "#contact"} Contact
    .content-wrap
      %img.profile-img.col-narrow{:alt => "Albert Stjärne", :src => "images/Albert.jpg"}/
      .col-wide
        %h1 Albert Stjärne
        %h2 Ingenjör och ekonom i ett paket, Programmer to be
        %p Jag har lång erfarenhet av att leda projekt varav de senaste fyra åren med Agil metodik i rollen som Produktägare. Jag har en bra förståelse för verksamhets- och IT-processer, från övergripande ner till detaljerad nivå. Ord kollegor skulle beskriva mig med är strukturerad, pedagogisk, teamspelare, lojal och med god balans mellan kvalitet och snabbhet.
        %p Jag ser mig som en "10-årig" IT-projektledare som nu är redo för karriärbyte och har bestämt mig för att jobba med och bemästra hantverket programmering.
