%section#work.work
  .content-wrap
    %h2 Arbetslivserfarenhet
    .col-narrow
      %h3 Supply Chain Developer
      %p.uppercase Ellos Group AB
      %p Mars 2014 - Maj 2018
    .col-wide.job-description
      %p - Agerat Produkt&#xE4;gare vid implementation av nya IT-system. Arbetade enligt agilt arbetss&#xE4;tt.
      %p - Representerade Produktorganisationens 100 medarbetare. Ledde ett implementationsteam p&#xE5; fem personer och d&#xE4;rtill konsulter.
      %p - System som implementerades var: Infor M3 ink&#xF6;psmodul, Infor Fashion PLM.
      %p - Ansvarade f&#xF6;r sourcing av IT-system f&#xF6;r produktorganisationen
      %p Optional list:
      %ul
        %li Created...
        %li Lead...
        %li Responsible for
    .col-narrow
      %h3 Prognosutvecklare  Projektledare  Fl&#xF6;desansvarig
      %p.uppercase Ellos Group AB, Ink&#xF6;psorganisation
      %p JAN 2005 - FEB 2014
    .col-wide.job-description
      %p Huvudsakliga ansvarsomr&#xE5;den var att utveckla ink&#xF6;psordersystemet, att agera som Projektledare och som Fl&#xF6;desansvarig.
      %p - Projektledare f&#xF6;r integration av gemensam produktdatabas. Arbetade enligt scrum.
      %p - Fl&#xF6;desansvarig under 2012 och 2013
      %p - Ansvarig f&#xF6;r ink&#xF6;psprognos
      %p - Projektledare f&#xF6;r IT-plattform integrationsprojekt
      %p - Projektledare f&#xF6;r f&#xF6;rb&#xE4;ttring av initial prognosticering
      %p - Projektledare f&#xF6;r projekt med m&#xE5;l att f&#xF6;rkorta ledtider, f&#xF6;rb&#xE4;ttra processer och definiera KPIer
      %p Optional list:
      %ul
        %li Created...
        %li Lead...
        %li Responsible for
    .col-narrow
      %h3 Stock Controller
      %p.uppercase Ellos Group AB, Ink&#xF6;psorganisation
      %p JAN 2003 - FEB 2005
    .col-wide.job-description
      %p - Best&#xE4;mde k&#xF6;pvolymer, f&#xF6;rhandlade priser med leverant&#xF6;rer, leveransbevakning och probleml&#xF6;sning.
      %p - Ansvarade f&#xF6;r utveckling av nytt ink&#xF6;psprognossystem
      %p Optional list:
      %ul
        %li Created...
        %li Lead...
        %li Responsible for
